<div class="form-inline">
  <img id="logomarca" src="./assets/img/logo.png" />
  <div class="form-inline header">
    <label>Grupo Econômico:</label>
    <select class="form-control grpEcon">
      <option>Visão Agregada 1</option>
      <option>Visão Agregada 2</option>
      <option>Visão Agregada 3</option>
    </select>
    <div class="form-inline usuario">
      <div>
        <i class="material-icons user">person_outline</i>
      </div>
      <select class="form-control slcUser">
        <option>Sandra Oliveira</option>
        <option>Fulano de Tal</option>
        <option>Beltrano da Silva</option>
      </select>
      <div>
        <a href="#" class="material-icons notify">notifications<label class="bdg" num=3></label></a>
      </div>
    </div>
  </div>
</div>
