#logomarca{
    height: 60px;
    margin-left: 260px; 
}

.header{
    position: absolute;
    right: 1%;
}
.header label{
    font-family: zap;
}
.usuario, .slcUser{
    color:#fff !important;
    background-color: #00233d;
    right: 0;
}
.slcUser{
    padding: 0 30px;
    margin: 5px 5px 5px 0;
    border: none;
}
.grpEcon{
    height: 50px;
    width: 180px;
}
select{
    background-color: transparent;
    border-color: #4997d1 !important;
    border-radius: 0 !important;
    width: max-content;
    text-align-last: left;
    text-align: left;
    margin:5px 10px;
    padding: 0 10px;
    appearance: none;
    background: url("/src/assets/img/double_set.png") no-repeat;
    background-position:100% 50%; 
    background-size: 20px;
}
.notify{
    position: relative;
    font-size: 20px;
    padding: 15px;
    background-color: #4997d1;
    text-decoration: none;
    color: white;
}
.user{
    font-size: 20px;
    margin: 5px 0 auto 20px ;
}
.bdg{
    position: absolute;
    top: 10px;
    right: 10px;
}
.bdg[num]:after{
    font-size: 15px;
    content: attr(num);
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center
}