@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

@font-face{
    font-family: "zap";
    src: url("./assets/fonts/ZAP.ttf") format("truetype");
}
