.home{
    position: absolute;
    right: 0;
    background-color: #e8e8e8;
    height: calc(100% - 60px);
    width: auto;
    left: 250px;
}
.title h1{
    font-family: zap;
}
.caminho-pao label{
    margin: 15px 25px 0 25px;
    color: gray;
}
.body, .text-primary{
    display: inline-block;
    vertical-align: middle !important;
    color: #00233d !important;
}
.body{
    width: 100% !important;
}
.title{
    align-items: center;
    margin:0;
    height: 100px;
}
.btn-primary{
    background-color: #fff !important;
    color: gray !important;
    border-color: #4997d1 !important;
    border-radius: 0 !important;
}
i{
    font-size: 40px;
    margin: 15px;
}
img {
    width: 60px;
    height: 60px;
    margin: 0 10px 10px 30px;
}
.produtos{
    position: absolute;
    right: 0;
    top: 40px;
    margin: 30px 15px;
}

.produtos label{
    margin-right: 15px;
}
.produtos select{
    background-color: transparent;
    height: 50px;
}
select{
    border-color: #4997d1 !important;
    border-radius: 0 !important;
    width: 200px !important;
    text-align-last: center;
    text-align: center;
    appearance: none;
    background: url("/src/assets/img/double_set.png") no-repeat;
    background-position:100% 50%; 
    background-size: 20px;
}
select.acao{
    font-size: 12px;
    width: 120px !important;
    height: max-content;
    background: url("/src/assets/img/single_set.png") no-repeat;
    background-position:95% 40%; 
    background-size: 10px;
    margin-left: 100px;
}
.card .btn-primary {
    margin: -10px 20px 10px 0;
    width: 150px; 
    font-size: 12px;
}
.row{
    margin: 10px 0 !important;
}
.periodo{
    float: right;
    margin-top: 5px;
    font-size: 10px;
    vertical-align: middle;
}
.card-body label{
    margin-bottom: -10px !important;
    font-size: 12px;
}
.card{
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: 0;
    height: 350px;
}
.col-sm-6,.col-sm-4  {
    padding-right: 0 !important;
}
.atalho .card{
    position: relative;
}
.card-body.operacional{
    position: absolute;
    left: 0;
    top: 50px;
    padding: 2rem 1rem 0 1rem;
}
.card-body.geral{
    position: absolute;
    right: 0;
    top: 50px;
    border-left: 1px solid rgba(211, 211, 211, 0.8);
    padding: 2rem 1rem 0 2.5rem;
}
.card-body.alerta{
    display: flex;
}

.card-body.alerta tbody{
    margin: auto;
}
td{
    vertical-align: middle;
    text-align: left;
}

.col-sm-5 .card-header {
    padding-bottom: 5px;
}